body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
  background-color: #ffffff;
}
:root {
  --main--text-color: #434455;
  --text-color: #2e2f42;
  --main-logo-color: #4d5ae5;
  --back-ground-color: F4F4FD;
  --hover-focus:#404BBF;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

p {
  color: var(--main--text-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

/* heder */

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header-logo > span {
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.17;
}

.link-studia,
.link-portfolio,
.link-contacts {
  font-size: 16px;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
}

.link-studia:hover,
.link-studia:focus,
.link-portfolio:hover,
.link-portfolio:focus,
.link-contacts:hover,
.link-contacts:focus {
  color: var(--hover-focus);
}
.contacts {
  font-style: normal;
}

.heder-email,
.heder-tel {
  font-size: 16px;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
}

.heder-email:hover,
.heder-email:focus,
.heder-tel:hover,
.heder-tel:focus {
  color: var(--hover-focus);
}

/* hero */

.hero {
  background-color: #2e2f42;
}
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
}

.hero-button {
  background-color: var(--main-logo-color);
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--hover-focus);
}

/* advantages */
.advantage{
  background-color: #FFFFFF;
}
.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.advantage-text{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* work */

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/* team */

.team {
  background-color: #F4F4FD ;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.our-team h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
.our-team p {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
.portfolio {
  background: #fff;
}
.portfolio h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* footer */

.footer {
  background-color: #2e2f42;
}
.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-span{
  color: #f4f4fd;
}
.footer-text{
  line-height: 1.5;
  color: #F4F4FD;
  letter-spacing: 0.02em;
}
.address {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
}
.footer-email,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
}
.footer-email:hover,
.footer-email:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--main-logo-color);
}

/* Portfolio */

.button {
  background-color: #f5f4fa;
  color: var(--text-color);
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
}
.button:hover,
.button:focus {
  background-color: var(--main-logo-color);
  color: #ffffff;
}
.portfolio h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio p {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}
